.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #000021; /* Blue */
    border-radius: 50%;
    width: 10vw;
    height: 10vw;
    animation: spin 1.5s linear infinite;
    margin-top: 100px;
    z-index: 100000000;
}

.loadercontainer {
	display: flex;
	justify-content: center;
	align-content: center;
}

.loadermodal {
	width:100vw;
	height:100vh;
	background-color:rgba(0,0,0,.5);
	position: fixed;
	/*top:0;*/
	left: 0;
	top:0;
	z-index: 1000000000;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: opacity 0.3s linear;
	opacity: 1;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}