#adminItemsApp #adminCompleteItems {
 
}
#adminItemsApp .adminItemContainer {
	width: 75vw;
	margin: 0 auto;
	margin-top: 15px;
	margin-bottom: 15px;
	display: flex;
}


#adminItemsApp .adminItemContainer .adminItemContainerLeft {
	display: flex;
	flex:2;
}

#adminItemsApp .adminItemContainer .adminItemContainerRight {
	flex:3;
}

#adminCompleteItems .adminItemContainer .adminItemContainerRight [class^="admin-"] {
	display: flex;
	margin: 10px; 
}

#adminCompleteItems .adminItemContainer .adminItemContainerRight [class^="admin-"] p {
	margin: 2px 7px;
	flex:1;
}

#adminCompleteItems .adminItemContainer .adminItemContainerRight,
#adminCompleteItems .adminItemContainer .adminItemContainerRight {
	padding: 10px;
}

#adminItemsApp .adminItemContainer {
	border-bottom: 1px solid lightgrey;
}


/*UPLOAD IMAGE*/

#adminUpdateModalForm .upload-image-container input {
	flex:1 !important;
}
#adminUpdateModalForm .upload-image-container img {
	flex:2;
}

#adminUpdateModalForm .upload-image-container {
	display: flex;
	justify-content: center;
	flex-wrap: nowrap;
	width:80%;
	margin: 0 auto;
	padding: 6px 12px;
	/*align-content: center;*/
}

/*#adminItemsApp div.adminItemContainer:first-of-type {
	border-bottom: 1px solid lightgrey;
}*/
