#idHolderHidden {
	display: none;
}

.item-qty {
	width: 50px;
	margin-left: 10px;
}

#catalogContainer {
	display: flex;
	padding: 15px;
	/*width:90vw;*/
	flex-wrap: wrap;
}

.carousel .carousel-inner img {
	width: 100%;
	height: 650px;
}

#rightSide {
	display: flex;
	flex:5;
	width:66%;
	padding: 0 10px;
	flex-direction: column;
	align-items: center;
	/*margin-left: 200px;*/
}

#rightSide #filterToolbar {
	width: 100%;
	display: flex;
	justify-content: flex-start;
}

#rightSide #filterToolbar button {
	border: none;
	background-color: white;
	margin: 2px 6px 10px 3px;
	outline: none;
}

#rightSide #filterToolbar button:hover {
	cursor: pointer;
}


.list-group {
	margin-bottom: 10px;
}

#itemsForSale {
	display: flex;
	flex-wrap: wrap;
	min-height: 40vh;
}

.cardContainer {
	/*width:50%;*/
	/*min-width:50%;*/
	padding:5px;
	display: flex;
	flex:1;
	flex-direction: column;
	flex-wrap: wrap;
}

#rightSide {
	padding-left: 20vw;
}

@media only screen and (min-width: 600px) {
	.cardContainer {
		/*width: 25% !important;*/
		min-width: 25% !important;
		max-width: 25% !important;
		padding:5px;
		flex:1;
	}
	.cardContainer .card {
		min-width: 100%;
	}
}

@media only screen and (min-width: 1600px) {
	.cardContainer {
		flex:1;
		/*width: 20% !important;*/
		min-width: 20% !important;
		max-width: 20% !important;
		padding:5px;
	}	
	.cardContainer .card {
		min-width: 100%;
	}
}

@media only screen and (max-width: 1100px) {
	.cardContainer .card-body div i {
		display: none;
	}
}



/*
.carousel-item {
	height:600px;
	width:70vw;
	
}

.

img {
	height:40vh;
	width:70vw;
}*/

.cardContainer .catalog-item-desc {
	display: none;
}

#backdropModal {
	display: none;
}

/*.backdrop {
	position: fixed !important;
	height:100vh !important;
	width: 100vw !important;
	z-index: 100 !important;
	background-color: rgba(0,0,0,0.3) !important;
}*/

/*#addedToCartModal {
	width: 300px;
	height: 200px;
	margin: 0 auto;
	background-color: red;
	transform: translateY(-200%);
	transition: transform 0.5 ease-out;
}*/

.addedToCartCenter {
	transform: translateY(0);
	z-index: 200;
}

.selected-filter {
	background-color: #000000c9;
	color:white;
	margin-left: 40px; 
	margin-right: 40px; 
}

#filterbarContainer .list-group-item:hover,
#clearFilter:hover {
	cursor: pointer;
}

#filterbarContainer {
	position: fixed;
	left:0;
	padding: 5 15px;
	display: flex;
	transition: transform 0.8s ease-out;
	flex:1;
	width:20%;
}

.filter-move-up {
	transform: translateY(-15%);
}

#filterdiv {
/*	position: fixed;
	left: 0;*/
	display: flex;
	flex-direction: column;
	width:20vw;
	/*max-width:25vw;*/
	/*width: 100%;*/
	/*width: 16vw;*/
	margin: 5px 10px;
	transition: transform 0.8s ease-out;
	/*max-width: 15vw;*/
}

.cardContainer button {
	text-align: center;
	margin: 2px 5px;
	width:100%;
}
/*.cardContainer a {
	width: 100%;
}*/

.cardContainer button:focus {
	/*outline: none;*/
	box-shadow: none;
}
/*.cardContainer button:first-of-type {
	width:54%;
}
.cardContainer button:last-of-type {
	width:35%;
}*/


.cardContainer .card {
	padding: 20px;
	height: 100%;
}

.cardContainer img {
	/*padding: 30px;*/
	width:100%;
	height:200px;
	/*height:50%;*/
}

.cardContainer .card-body .catalog-buttons-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.cardContainer .card-body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#filterdiv .list-group-item {
	text-align: center;
	transition: margin 0.4s ease-out;
	/*width: 100%;*/
}

#filterdiv p {
	text-align: center;
	font-weight: 700;
	text-transform: uppercase;
}

.cardContainer h5, 
.cardContainer h6 {
	text-align: center;
} 

.cardContainer .card-body div.catalog-buttons-container {
	display: flex;
	justify-content: center;
}

.cardContainer .card {
	border-radius: 10px;
	transition: transform 0.3s ease-in;
}

.cardContainer .card:hover {
	transform: translateY(-3px);
	cursor: pointer;
	background-color: #00000008;
}