#loginApp {
	display: flex;
	justify-content: center;
}

#loginForm {
	margin-top: 30px;
	width: 35vw;
	background-color: #d3d3d329;
	border:1px solid lightgrey;
	box-shadow: 1px 0px 1px 1px;
	display: flex;
	flex-direction: column;
	padding: 20px 0;
	/*color:white;*/
	border-radius: 5px;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;

}


#loginForm div {
	width: 80%;
	display: flex;
	padding: 5px;
}

#loginForm div label {
	width: 100px;
}
#loginForm div input {
	width: 270px;
}

#loginForm button {
	margin:15px 20px;
	/*width: 50%;*/
}

.form-group-login {
	display: flex;
	justify-content: center;
}
