div.card-orders {
	margin: 30px 50px;
}

#pendingOrders table {
	width: 90%;
	margin: 15px auto;
	border:1px solid rgba(0,0,0,0.1);
}

#pendingOrders tr {
	padding: 5px;
}

#pendingOrders tr th {
	padding: 3px 5px;
	text-align: center;
	background-color: rgba(247,247,246);
}

#pendingOrders,
#ordersHistory {
	border-radius: 10px;
}

#pendingOrders tr td {
	padding: 5px 3px;
	text-align: center;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	border-top: 1px solid rgba(0,0,0,0.1);
	background-color: rgba(247,247,246, 0.3);
	/*background-color: blue;*/
}


#pendingOrders table img {
	width: 50px;
	margin: 5px;
	border-style: outset;
}

#pendingOrders h5 {
	margin-bottom: 5px;
}

#pendingOrders .single-order-container {
	margin-bottom: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid lightgrey;
}